<div class="container cover-body">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="section-title">[Shopping cart section--placeholder for title]<br><span class="school-title"></span></h1>
		</div>
	</div>
	<div class="shopping-section">
		<div class="row cart-items" id="cart-items">
			<div class="col-xs-12 col-sm-6">
				<div class="col-xs-12">
					<h3>Select an item to add to shopping cart</h3>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-4 thumb">
					<div class="thumbnail" href="" id="item" data-item="classroom-teacher" data-name="Classroom Teacher/s" data-cost="55000">
						<a class="" href="#">
							<div class="caption">
								<h4 class="">Classroom Teacher</h4>
								<p class="">$55000 per year</p>
							</div>
							<img class="img-responsive" src="assets/app.svg" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-4 thumb">
					<div class="thumbnail" href="" id="item" data-item="afterschool-program" data-name="Afterschool Program/s" data-cost="3000">
						<a class="" href="#">
							<div class="caption">
								<h4 class="">Afterschool Program</h4>
								<p class="">$3,000 per student</p>
							</div>
							<img class="img-responsive" src="assets/globe.svg" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-4 thumb">
					<div class="thumbnail" href="" id="item" data-item="arts-program" data-name="Arts Program/s" data-cost="75000">
						<a class="" href="#">
							<div class="caption">
								<h4 class="">Arts Program</h4>
								<p class="">$75,000 per year, per art program</p>
							</div>
							<img class="img-responsive" src="assets/check.svg" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-4 thumb">
					<div class="thumbnail" href="" id="item" data-item="library" data-name="Library/ies" data-cost="77000">
						<a class="" href="#">
							<div class="caption">
								<h4 class="">Library</h4>
								<p class="">$77,000 per year (to maintain a library)</p>
							</div>
							<img class="img-responsive" src="assets/design.svg" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-4 thumb">
					<div class="thumbnail" href="" id="item" data-item="sports" data-name="Sports Program/s" data-cost="8000">
						<a class="" href="#">
							<div class="caption">
								<h4 class="">Sports</h4>
								<p class="">$8,000 per season (cost includes coach and referee salaries)</p>
							</div>
							<img class="img-responsive" src="assets/diploma.svg" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-4 thumb">
					<div class="thumbnail" href="" id="item" data-item="teachers-aide" data-name="Teacher's Aide/s" data-cost="22000">
						<a class="" href="#">
							<div class="caption">
								<h4 class="">Teacher's Aide</h4>
								<p class="">$22,000 per aide per year</p>
							</div>
							<img class="img-responsive" src="assets/read.svg" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-4 thumb">
					<div class="thumbnail" href="" id="item" data-item="guidance-counselor" data-name="Guidance Counselor/s or Social Worker/s" data-cost="60000">
						<a class="" href="#">
							<div class="caption">
								<h4 class="">Guidance Counselor/Social Worker</h4>
								<p class="">$60,000 per counselor per year</p>
							</div>
							<img class="img-responsive" src="assets/statistics.svg" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-4 thumb">
					<div class="thumbnail" href="" id="item" data-item="technology" data-name="Technology" data-cost="100000">
						<a class="" href="#">
							<div class="caption">
								<h4 class="">Headline</h4>
								<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
								</p>
							</div>
							<img class="img-responsive" src="assets/tutorial.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="row details-section">
					<div class="school-section" id="school-information">
						<div class="row">
							<div class="col-xs-12">
								<h4 class="amount-text">Total amount owed: 
									<span class="amount-number"></span>
								</h4>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<h4>Amount left to spend: <span class="amount-number" id="amount-left-to-spend"></span></h4>
					</div>
					<div id="purchased-items">
						<div class="col-xs-12">
							<h4>Purchased:</h4>
						</div>
						<div class="col-xs-12" id="added-items"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" id="next-steps">
			<a href="#top" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-up animated"></i>
			</a>
			<h3>Return to the top</h3>

		</div>
	</div>
</div>