<div class="container cover-body">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Make a plan for how you would spend the money your school is owed</h1>
		</div>
	</div>


	<div class="school-section" id="school-information">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1 class="schoolInfoLabel"><span class="school-title"></span><span class="school-title-dbn"></span><span class="school-title-district"></span></h1>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-xs-12 col-md-6">
				<h2 class="amount-text">Total amount owed:<span class="amount-number"></span></h2>
			</div>
			<div class="col-xs-12 col-md-6">
				<h2 class="per-student-number">Per student: <span class="per-student-amount"></span></h2>	
			</div>
		</div>
	</div>

	<div class="shopping-section">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h3>Select an item to add to shopping cart</h3>
				<h4>Amount left to spend: <span class="amount-number"></span></h4>
			</div>
		</div>
		<div class="row cart-items" id="cart-items">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<div class="thumbnail">
					<a class="" href="#">
						<div class="caption">
							<h4 class="">Thumbnail Headline</h4>
							<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
							</p>
						</div>
						<img class="img-responsive" src="assets/app.svg" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<div class="caption">
						<h4 class="">Thumbnail Headline</h4>

						<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore


						</p>
					</div>
					<img class="img-responsive" src="assets/globe.svg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<div class="caption">
						<h4 class="">Thumbnail Headline</h4>

						<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore


						</p>
					</div>
					<img class="img-responsive" src="assets/check.svg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<div class="caption">
						<h4 class="">Thumbnail Headline</h4>

						<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore


						</p>
					</div>
					<img class="img-responsive" src="assets/design.svg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<div class="caption">
						<h4 class="">Thumbnail Headline</h4>

						<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore


						</p>
					</div>
					<img class="img-responsive" src="assets/diploma.svg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<div class="caption">
						<h4 class="">Thumbnail Headline</h4>

						<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore


						</p>
					</div>
					<img class="img-responsive" src="assets/read.svg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<div class="caption">
						<h4 class="">Thumbnail Headline</h4>

						<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore


						</p>
					</div>
					<img class="img-responsive" src="assets/statistics.svg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<div class="caption">
						<h4 class="">Thumbnail Headline</h4>

						<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore


						</p>
					</div>
					<img class="img-responsive" src="assets/tutorial.svg" alt="">
				</a>
			</div>

		</div>
	</div>