<div class="container text-center">

	<a target="_blank" data-toggle="modal" data-target="#aboutModal" class="clickable">learn more</a> / <a href="mailto:cfe@farheen.nyc?Subject=CFE%20Site%20Feedback" target="_top">give feedback</a>
	<br><br>
	<small>copyright ©<a href="http://farheen.nyc" target="_blank">Farheen Malik</a> 2015. all rights reserved</small>

</div>
