<footer class="footer-distributed">

	<div class="footer-right">
		<div class="row">
			<!-- <div class="col-md-4"> -->
				<a href="www.uft.org" target="_blank">	<img id="uft-logo" class="img-responsive" src="https://s3.amazonaws.com/cfemoneyowednys.org/images/UFT_Logo.svg.png" alt="UFT Logo"></a>&nbsp;&nbsp;
			<!-- </div>
			<div class="col-md-4"> -->

				<a href="http://ppefny.org/" target="_blank"><img id="ppef-logo" class="img-responsive" src="https://s3.amazonaws.com/cfemoneyowednys.org/images/ppefHighQuality.JPG" alt="PPEF Logo"></a>&nbsp;&nbsp;
			<!-- </div>
			<div class="col-md-4"> -->

				<a href="http://www.aqeny.org/" target="_blank"><img id="aqe-logo" class="img-responsive" src="https://s3.amazonaws.com/cfemoneyowednys.org/images/AQE_Logo.jpg" alt="AQE Logo"></a>
			<!-- </div> -->
		</div>
	</div>

	<div class="footer-left">

		<p class="footer-links">
			<a href="/">Home</a>
			·
			<a href="/why">Why it matters</a>
			·
			<a href="/how">How it works</a>
			·
			<a href="/resources">Resources</a>
		</p>

		<p><a href="http://farheen.nyc" target="_blank">Farheen Malik &copy; 2016</a></p>
	</div>

</footer>