<br>
<div id="social-buttons">
	<div id="fb-root"></div>
	<a class="fb-share-button" data-href="http://www.cfemoneyowednys.org/" data-layout="button"></a>
	<br>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.cfemoneyowednys.org/" data-text="How much does NY State owe your school?" data-via="angryteachrlady" data-count="none" data-hashtags="ProtectOurSchools,AllKidsNeed,EduEquity">tweet</a>
</div>
<br><br>
<a target="_blank" data-toggle="modal" data-target="#aboutModal" class="clickable">learn more</a> / <a href="mailto:cfe@farheen.nyc?Subject=CFE%20Site%20Feedback" target="_top">give feedback</a>
<br><br>
<small>copyright ©<a href="http://farheen.nyc" target="_blank">Farheen Malik</a> 2015. all rights reserved</small>