<footer class="footer-distributed">

	<div class="footer-right">
		<div class="row">
				<a href="www.uft.org" target="_blank" onclick="ga('send', 'event', 'Navigation footer', 'click', 'UFT logo');">	<img id="uft-logo" class="img-responsive" src="https://s3.amazonaws.com/cfemoneyowednys.org/images/UFT_Logo.svg.png" alt="UFT Logo"></a>&nbsp;&nbsp;
				<a href="http://ppefny.org/" target="_blank" onclick="ga('send', 'event', 'Navigation footer', 'click', 'PPEF logo');"><img id="ppef-logo" class="img-responsive" src="https://s3.amazonaws.com/cfemoneyowednys.org/images/ppefHighQuality.JPG" alt="PPEF Logo"></a>&nbsp;&nbsp;
				<a href="http://www.aqeny.org/" target="_blank" onclick="ga('send', 'event', 'Navigation footer', 'click', 'AQE logo');"><img id="aqe-logo" class="img-responsive" src="https://s3.amazonaws.com/cfemoneyowednys.org/images/AQE_Logo.jpg" alt="AQE Logo"></a>
		</div>
	</div>

	<div class="footer-left">

		<p class="footer-links">
			<a href="/" onclick="ga('send', 'event', 'Navigation footer', 'click', 'Home');">Home</a>
			·
			<a href="/why" onclick="ga('send', 'event', 'Navigation footer', 'click', 'Why it matters');">Why it matters</a>
			·
			<a href="/how" onclick="ga('send', 'event', 'Navigation footer', 'click', 'How it works');">How it works</a>
			·
			<a href="/resources" onclick="ga('send', 'event', 'Navigation bar', 'click', 'Resources');">Resources</a>
		</p>

		<p><a href="http://farheen.nyc" target="_blank" onclick="ga('send', 'event', 'Navigation footer', 'click', 'Personal website');">Farheen Malik &copy; 2016</a></p>
	</div>

</footer>