<div class="container cover-body">
	<div class="header-body">
		<div class="row equal" id="title-row">
			<div class="col-xs-12 col-sm-12 col-md-push-6 title-text">
				<div class="col-xs-12">
					<div class="title highlight-title">
						<h1><a href="/">How much does NY State owe your school?</a></h1>
					</div>
					<div class="subtitle">
						<h4 class="subtitle-text">New York State continues	to	ignore the	settlement	of	a	landmark	school funding	lawsuit	that	requires	the	state	to	provide	billions	more	to	schools.</h4>
						<h4 class="subtitle-text">New York City public schools alone are owed <span>$2	billion</span>.</h4>
						<h4 class="subtitle-text">Find out how much New York State owes your school.</h4>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-pull-6 title-image">
				<img src="https://s3.amazonaws.com/cfemoneyowednys.org/images/TUD2014561.jpg" class="img-responsive desaturate">
			</div>
			
		</div>
	</div>
	<%= render partial: 'welcome/search_section'  %>
</div>
