<div class="cover-body">
	<div class="container header-body">
		<div class="row" id="title-row">
			<div class="col-xs-12 col-sm-6 title-image">
				<div class="col-xs-12">
					<img src="http://placehold.it/600x600">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 text-fill title-text">
				<div class="col-xs-12 title1">
					<div class="title highlight-title">
						<h1>How much does NY State owe your school?</h1>
					</div>
				</div>
				<div class="col-xs-12 title2 text-fill">
					<h4 class="subtitle-text-1">Governor	Cuomo	continues	to	ignore the	settlement	of	a	landmark	school funding	lawsuit	that	requires	the	state	to	provide	billions	more	to	schools.<br> More	than	<span class="subtitle-text1a">$2	billion</span>	is	now	owed. </h4>
					<h4 class="subtitle-text2">
						Find out how much New York State is robbing your school.
					</h4>
				</div>
			</div>
		</div>
		<div class="row" id="subtitle-row">
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 subtitle2">
			</div>
		</div>
	</div>
	<%= render partial: 'search_section'  %>
</div>
