<div class="cover-body">
	<div class="container header-body">
		<!-- <div class="row">
			<div class="col-xs-12">
				<div class="subtitle-image">
					<img src="http://placehold.it/555x300">
				</div>
			</div>
		</div> -->
		<div class="row" id="title-row">
			<div class="col-xs-12">
				<div class="title highlight-title">
					<h1>How much does New York State owe your school?</h1>
				</div>
			</div>
		</div>
		<div class="row" id="subtitle-row">
			<div class="col-xs-12 subtitle1">
				<h4 class="subtitle-text1">Governor	Cuomo	continues	to	ignore the	settlement	of	a	landmark	school funding	lawsuit	that	requires	the	state	to	provide	billions	more	to	schools.<span class="subtitle-text-1a"> More	than	$X	billion	is	now	owed.</span> </h4>
			</div>
		</div>
	</div>
	<div class="row" id="subtitle-row">
		<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 subtitle2">
			<h4 class="subtitle-text2">
				Find out how much New York State is robbing your school.
			</h4>
			<a href="#search-section" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
	</div>
</div>
