<div class="row text-center school-search-result intro-text">
	<h1 class="warning-text">Return to the top to search for a school</h1>
	<div class="school-section" id="schoolModal">
		<%= render :partial => 'schools/school_information' %>
	</div>
</div>
<div class="row text-center">
	<div class="col-xs-12">
		<h3>Think that our students and schools deserve better?</h3>
		<h3>See what you can do to take action</h3>
		<a href="#take-action-section" class="btn btn-circle page-scroll">
			<i class="fa fa-angle-double-down animated"></i>
		</a>
	</div>
</div>