<div class="row text-center school-search-result intro-text">
	<h1 class="warning-text">Return to the top to search for a school</h1>
	<div class="school-section" id="school-information">
		<%= render :partial => 'schools/school_information' %>
	</div>
</div>