<div class="container cover-body" id="two">
	<div class="row">
		<div class="col-xs-12 col-md-12 title-col" >
			<h1 class="section-title">Take action to end the injustice.</h1>
		</div>
	</div>
	<div class="row action-items">
		<div class="col-xs-12 col-sm-10 col-sm-offset-2 action-item">
			<div class="row equal">
				<div class="col-xs-1 col-sm-1 action-num"><img class="img-responsive" src="https://s3.amazonaws.com/cfemoneyowednys.org/images/UTF_1_NumbersIcons_LH_100x100.jpg"></div>
				<div class="col-xs-10 col-sm-8 action-text text-left">
					<h3>Contact your representatives in Albany and tell them why your school urgently needs full state funding now.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-9">
					<div class="row legislators-section" id="legislators-section">
						<div class="col-xs-12 col-sm-12 col-md-6 leg-upper">
							<div class="leg-photo col-xs-4 col-sm-3">
								<img src="" class="img-rounded img-responsive">
							</div>
							<div class="leg-info col-xs-8 col-sm-9"></div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 leg-lower">
							<div class="leg-photo col-xs-4 col-sm-3">
								<img src="" class="img-rounded img-responsive">
							</div>
							<div class="leg-info col-xs-8 col-sm-9">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-10 col-sm-offset-2 action-item">
			<div class="row equal">
				<div class="col-xs-1 col-sm-1 action-num"><img class="img-responsive" src="https://s3.amazonaws.com/cfemoneyowednys.org/images/UTF_2_NumbersIcons_LH_100x100.jpg"></div>
				<div class="col-xs-10 col-sm-8 action-text text-left">
					<h3>Share on Twitter how much your school is owed. <a href="https://twitter.com/home?status=Find%20out%20how%20much%20NYS%20owes%20your%20school%20at%20cfemoneyowednys.org" class="twitter-link" target="_blank">Send a tweet.</a></h3>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-10 col-sm-offset-2 action-item">
			<div class="row equal">
				<div class="col-xs-1 col-sm-1 action-num"><img class="img-responsive" src="https://s3.amazonaws.com/cfemoneyowednys.org/images/UTF_3_NumbersIcons_LH_100x100.jpg"></div>
				<div class="col-xs-10 col-sm-8 action-text text-left">
					<h3>Let your friends and family know that they can search for their own school. <a href="https://www.facebook.com/sharer/sharer.php?u=http://cfemoneyowednys.org" target="_blank" class="facebook-link">Share this tool on Facebook</a>.
					</h3>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-10 col-sm-offset-2 action-item">
			<div class="row equal">
				<div class="col-xs-1 col-sm-1 action-num"><img class="img-responsive" src="https://s3.amazonaws.com/cfemoneyowednys.org/images/UTF_4_NumbersIcons_LH_100x100.jpg"></div>
				<div class="col-xs-10 col-sm-8 action-text text-left">
					<h3><a href="http://www.aqeny.org/wp-content/uploads/2016/01/students-v.-state-of-new-york-to-print1.pdf" target="_blank">Read	the	full	report</a>	to	learn	more.</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" id="next-steps">
			<h3>What could your school achieve if it had the money it deserves?</h3>
			<h3>Take	the	next	step	to	find	out.</h3>
			<a href="#three" class="btn btn-circle page-scroll">
				<i class="fa fa-arrow-circle-down fa-2x animated"></i>
			</a>
		</div>
	</div>
</div>
