<div class="container cover-body">
	<div class="row">
		<div class="col-xs-12 col-md-12 title-col" >
			<h1 class="section-title">Take action to end the injustice.</h1>
		</div>
	</div>
	<div class="row action-items">
		<div class="col-xs-12 col-sm-6 action-item">
			<a href="https://actionnetwork.org/petitions/its-time-to-fund-cfe" target="_blank" class="petition-link btn btn-lg btn-secondary-outline btn-block">	
				<div class="col-xs-3">			
					<h3>
						<i class="fa fa-file-text-o"></i>
					</h3>
				</div>
				<div class="col-xs-9">			
					<h3>Tell your representatives in Albany your school urgently needs full state funding now. 
						<span>Sign a petition.</span>
					</h3>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 action-item">
			<a href="https://twitter.com/home?status=Find%20out%20how%20much%20NYS%20owes%20your%20school%20at%20cfemoneyowednys.org%20%23StandUp4Kids" class="twitter-link btn btn-secondary-outline btn-lg btn-block" target="_blank" onclick="ga('send', 'event', 'Take action link', 'click', 'Send tweet');">
				<h3>
					<i class="fa fa-twitter"></i>
				</h3>
				<h3>Share on Twitter how much your school is owed. 
					<span>Send a tweet.</span>
				</h3>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 action-item">
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://cfemoneyowednys.org" target="_blank" class="facebook-link btn btn-secondary-outline btn-lg btn-block" onclick="ga('send', 'event', 'Take action link', 'click', 'Share on Facebook');">
				<h3>
					<i class="fa fa-facebook-square"></i>
				</h3>
				<h3>Let your friends and family know that they can search for their own school. 
					<span>Share this tool on Facebook.</span>
				</h3>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 action-item">
			<a href="http://www.aqeny.org/wp-content/uploads/2016/01/students-v.-state-of-new-york-to-print1.pdf" target="_blank" onclick="ga('send', 'event', 'Take action link', 'click', 'Read report');" class="btn btn-secondary-outline btn-lg btn-block">
				<h3>
					<i class="fa fa-book"></i>
				</h3>
				<h3>
					<span>Read	the	full	report</span>	to	learn	more.
				</h3>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" id="next-steps">
			<h3>What could your school achieve if it had the money it deserves?</h3>
			<h3>Take	the	next	step	to	find	out.</h3>
			<a href="#three" class="btn btn-circle page-scroll" onclick="ga('send', 'event', 'Next steps buttons', 'click', 'To cart section');">
				<i class="fa fa-arrow-circle-down fa-2x animated"></i>
			</a>
		</div>
	</div>
</div>

<!-- </div> -->
