<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Take action to end the injustice.</h1>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-2 col-xs-offset-2"><i class="fa fa-circle-o fa-5x"></i></div>
		<div class="col-xs-8text-left">
			<h3>Email	your	representatives	in	Albany	and	ask	what	they’re	doing	to	get	money	back	for	our	schools.</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-2 col-xs-offset-2"><i class="fa fa-circle-o fa-5x"></i></div>
		<div class="col-xs-8 text-left">
			<h3>Tweet	to	spread	the	word.</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-2 col-xs-offset-2"><i class="fa fa-circle-o fa-5x"></i></div>
		<div class="col-xs-8 text-left">
			<h3>Share	this	tool	on	Facebook	and	tell	friends	&	family	to search	for	their	own	school.		</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-2 col-xs-offset-2"><i class="fa fa-circle-o fa-5x"></i></div>
		<div class="col-xs-8 text-left">
			<h3>Read	the	full	report	to	learn	more.</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-12">
			<h3>What	can	your	school	achieve	with	the	money	it	deserves?	</h3>
			<h3>Take	the	next	step	to	find	out.</h3>
			<a href="#" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
	</div>