<div class="container cover-body">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Take action to end the injustice.</h1>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-2 col-xs-offset-2"><i class="fa fa-circle-o fa-5x"></i></div>
		<div class="col-xs-8 text-left">
			<h3>Email <span class="school-title">your</span> representatives	in	Albany	and	ask	what	they’re	doing	to	get	money	back	for	our	schools.</h3>
					<div class="row">
			<div class='legislators-section'>
				<div class="col-xs-12">
					<div class="row leg-upper">
						<div class="leg-photo col-xs-3">
							<img src="" class="img-rounded img-responsive">
						</div>
						<div class="leg-info col-xs-9">
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row leg-lower">
						<div class="leg-photo col-xs-3">
							<img src="" class="img-rounded img-responsive">
						</div>
						<div class="leg-info col-xs-9">
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-2 col-xs-offset-2"><i class="fa fa-circle-o fa-5x"></i></div>
		<div class="col-xs-8 text-left">
			<h3><a href="https://twitter.com/home?status=Find%20out%20how%20much%20NYS%20owes%20your%20school%20at%20cfemoneyowednys.org">Tweet</a>	to	spread	the	word.</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-2 col-xs-offset-2"><i class="fa fa-circle-o fa-5x"></i></div>
		<div class="col-xs-8 text-left">
			<h3><a href="https://www.facebook.com/sharer.php?s=100&p%5Burl%5D=cfemoneyowednys.org&p%5Btitle%5D=HOW%20MUCH%20DOES%20NEW%20YORK%20STATE%20OWE%20YOUR%20SCHOOL%3F&p%5Bsummary%5D=Find%20out%20how%20much%20NYS%20owes%20your%20school%20at">Share	this	tool	on Facebook</a>	and	tell	friends	&	family	to search	for	their	own	school.		</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-2 col-xs-offset-2"><i class="fa fa-circle-o fa-5x"></i></div>
		<div class="col-xs-8 text-left">
			<h3>Read	the	full	report	to	learn	more.</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-12">
			<h3>What	can	your	school	achieve	with	the	money	it	deserves?	</h3>
			<h3>Take	the	next	step	to	find	out.</h3>
			<a href="#cart-section" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
	</div>
</div>
