<div class="container" id="how-page">
  <div class="row">
    <div id="sub-navigation" class="col-md-3">
      <p class="lead"><span>Jump to a topic:<span></p>
      <div class="list-group">
        <a href="#how-it-works" class="list-group-item page-scroll">How it works</a>
        <!-- <a href="#code-data" class="list-group-item page-scroll">Code & data</a> -->
        <a href="#credits" class="list-group-item page-scroll">Credits</a>
        <a href="#feedback" class="list-group-item page-scroll">Give Feedback</a>
        <hr>
      </div>
      <a href="/" id="back-link" class="list-group-item"><i class="fa fa-arrow-circle-left"></i> Back</a>

    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div id="how-it-works">
            <h2>How the numbers are calculated</h2>
            <p>This web application provides information on CFE money owed to schools and districts in New York State.  It takes data from a report by the <a href="http://www.aqeny.org/" target="_blank">Alliance for Quality Education</a> (AQE) and presents it in an easily searchable and shareable way to help relevant stakeholders educate and mobilize. </p>
            <p>For raw data, AQE used <a href="http://www.nysed.gov/" target="_blank">NYS Education Department</a> data as published after the 2015-16 enacted budget. The SED data files include the amount of Foundation Aid that school districts are owed. In addition, the School Aid 2015-16 file also shows how much Gap Elimination Adjustment is still owed for each school district. A separate database published by SED for the School Report Cards for 2013-14 lists all the schools and includes enrollment for each school in each district. Schools opened and changes in enrollment since this database was published are not included. To calculate the amount owed per pupil, we divided the total amount owed to each school district by the total student enrollment in the district. The amount owed to each school was then calculated by multiplying this per pupil amount by the number of students in that school. The exact methodology used to distribute funds between schools within a school district will ultimately depend upon additional factors that cannot be accounted for at this time including the Contract for Excellence and local decision-making by school districts. The methodology in <a href="http://www.aqeny.org/" target="_blank">AQE's report</a> report provides a fair and reasonable estimation of distribution based upon student enrollment data</p>
            <p>The database that shows the schools in each legislative district uses State Education Department data and the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a> Congress API.</p>
          </div>
        </div>
      </div>
<!--       <div class="row">
        <div class="col-md-12">
          <div id="code-data">
            <h2>Code and data</h2>
            <p style="color: lightgray;">Coming soon</p>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <div id="credits">
            <h2>Credits</h2>
            <p>The following organizations helped to make this project happen.</p>
            <ul>
              <li><a href="http://www.aqeny.org/" target="_blank">Alliance for Quality Education</a></li>
              <li><a href="http://annenberginstitute.org/" target="_blank">Annenberg Institute for School Reform</a></li>
              <li><a href="http://ppefny.org/" target="_blank">Public Policy and Education Fund of New York</a></li>
              <li> <a href="http://www.uft.org/" target="_blank">United Federation of Teachers</a></li>
              <li>Some icons were acquired with an agency license from<a href="https://thenounproject.com" target="_blank"> The Noun Project</a>.</li>
              
            </ul>
            <p>And most of all thanks to you for visiting this site!</P>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="give-feedback">
              <h2>Give Feedback</h2>
              <p>To make suggestions for future iterations of the site, <a href="mailto:cfe@farheen.nyc?Subject=CFE%20Site%20Feedback" target="_top">email</a> your ideas or tweet <a href="https://twitter.com/farheenmmalik">@farheenmmalik</a>.  All feedback is appreciated!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
