<div class="container" id="how-page">
  <div class="row">
    <div id="sub-navigation" class="col-md-3">
      <p class="lead"><span>Jump to a topic:<span></p>
      <div class="list-group">
        <a href="#how-it-works" class="list-group-item page-scroll">How this site works</a>
        <a href="#code-data" class="list-group-item page-scroll">Code & data</a>
        <a href="#credits" class="list-group-item page-scroll">Credits</a>
        <hr>
        <a href="/" class="list-group-item"><i class="fa fa-arrow-circle-left"></i> Back</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div id="how-it-works">
            <h2>How this site works</h2>
            <p>This web application provides information on CFE money owed to schools and districts in New York State.  It takes data shared by <a href="http://www.aqeny.org/" alt="aqe-site" target="_blank">Alliance for Quality Education</a> (AQE) and presents it in an easily searchable and shareable way to help relevant stakeholders educate and mobilize. </p>
            <p>For raw data, AQE used <a href="http://www.nysed.gov/" alt="nysed-site" target="_blank">NYS Education Department</a> data as published after the 2014-15 enacted budget was passed. The SED data files include the amount that school districts would receive if the Foundation Aid was fully phased as it was intended when it was passed in 2007. In addition, the School Aid 2014-15 file also shows how much Gap Elimination Adjustment is left for each school district.  A <a href="http://data.nysed.gov/downloads.php" target="_blank">separate database published by SED for the School Report Cards for 2012-13</a> lists all the schools and includes enrollment for each school in each district. Schools opened and changes in enrollment since this database was published are not included.</p> 

            <p>To calculate the amount owed per pupil, AQE divided the total amount owed to each school district by the total amount enrolled in the district (the sum of students in each school). They then calculated the amount owed to each school by the number of students in that school.</p> 

            <p>The actual distribution by school may vary depending on whether funding is provided as foundation aid, whether the Contract for Excellence rules apply, whether New York City uses its Fair Student Funding Formula and other factors. There is no way for anyone to calculate in advance the intersection of those formulae and rules. The methodology in <a href="http://www.aqeny.org/" alt="aqe-site" target="_blank">AQE's report</a> provides a fair and reasonable estimation of distribution based upon student enrollment data.</p>

            <p>To calculate the amount owed per Senate and Assembly district, AQE summed the total amount per school in each legislative district. AQE received the database that shows the schools and districts in each legislative district by the State Education Department.</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="code-data">
            <h2>Code and data</h2>
            <p>Coming soon</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="credits">
            <h2>Credits</h2>
            <p>This is a tool for school communities by <a href="http://farheen.nyc" target="_blank">Farheen Malik</a></p>
            <p>Special thanks to <a href="http://www.aqeny.org/" alt="aqe-site" target="_blank">AQE</a>, <a href="http://annenberginstitute.org/" alt="annenberg-site" target="_blank">Annenberg Institute for School Reform</a>, the <a href="http://www.uft.org/" alt="uft-site" target="_blank">United Federation of Teachers</a>, and all supporters of civic technology!</p>

            <p>To make suggestions for future iterations of the site, <a href="mailto:cfe@farheen.nyc?Subject=CFE%20Site%20Feedback" target="_top">email</a> your ideas or tweet at Farheen <a href="https://twitter.com/farheenmmalik">@farheenmmalik</a>.  All feedback is appreciated!</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
