<!-- Header -->
<header id="top" class="header cover">
	<%= render :partial => 'welcome/header'  %>
</header>

<section class="whitespace"></section>

<div class="visible-results">
	<!-- School search results -->
	<section id="school-info-section" class="results-section cover">
		<%= render :partial => 'welcome/school_info_section'  %>
	</section>

	<section class="whitespace"></section>

	<!-- Take action section -->
	<section id="take-action-section" class="take-action-section cover">
		<%= render :partial => 'welcome/take_action'  %>
	</section>

	<section class="whitespace"></section>
	<!-- Cart section -->
	<section id="cart" class="cart-section cover">
		<%= render :partial => 'welcome/cart_section'  %>
	</section>
	
	<!-- <section class="whitespace"></section> -->

	<section id="last" class="last cover">
		<div class="container cover-body" id="four">
			<div class="row intro">
				<div class="col-xs-12">
					<!-- <h1>Thanks!</h1> -->
					<!-- <p><img src="https://s3.amazonaws.com/cfemoneyowednys.org/images/noun_4212.png"></p> -->
					<button type="button" class="btn btn-primary btn-lg"><a class="page-scroll" href="#top">START OVER</a></button>
					<button type="button" class="btn btn-primary btn-lg"><a href="/why">LEARN MORE</a></button>
				</div>
			</div>
		</div>
	</section>
</div>

<style type="text/css">





</style>


