<header id="top" class="header">
	<div class="header-body">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<h1 class="title highlight-title">How much does NY State owe your school?</h1>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
				<h4 class="subtitle">Select one</span></h4>

					<button class="btn btn-default btn-lg loc-selection" type="button" aria-expanded="false">
						Schools in New York City
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<button href="/rest-of-nystate" class="btn btn-default btn-lg loc-selection" type="button" aria-expanded="false">
						Schools in Rest of New York State
					</button>
				</div>
			</div>
		</div>
	</div>
</header>