<!-- Header -->
<header id="top" class="header cover" id="home">
	<%= render :partial => 'welcome/header'  %>
</header>

<!-- <section class="whitespace"></section> -->

<div class="visible-results">
	<!-- School search results -->
	<a id="one"></a>
	
	<section id="school-info-section" class="results-section cover">
		<%= render :partial => 'welcome/school_info_section'  %>
	</section>

	<!-- <section class="whitespace"></section> -->

	<!-- Take action section -->
	<a id="two"></a>
	<section id="take-action-section" class="take-action-section cover">
		<%= render :partial => 'welcome/take_action'  %>
	</section>


	<!-- <section class="whitespace"></section> -->
	
	<!-- Cart section -->
	<a id="three"></a>
	<section id="cart" class="cart-section cover">
		<%= render :partial => 'welcome/cart_section'  %>
	</section>
</div>