<!-- Header -->
<header id="top" class="header cover">
	<%= render :partial => 'welcome/header'  %>
</header>

<section class="whitespace"></section>

<div class="visible-results">
	<!-- School search results -->
	<section id="school-info-section" class="results-section cover">
		<%= render :partial => 'welcome/school_info_section'  %>
	</section>
</div>

<section class="whitespace"></section>

<!-- Take action section -->
<section id="take-action-section" class="take-action-section cover">
	<%= render :partial => 'welcome/take_action'  %>
</section>

<section class="whitespace"></section>

<div class="visible-results">
	<!-- Cart section -->
	<section id="cart" class="cart-section cover">
		<%= render :partial => 'welcome/cart_section'  %>
	</section>
</div>

<section class="whitespace"></section>
