 <div class="container" id="resources-page">
 	<div class="row">
 		<div id="sub-navigation" class="col-md-3">
 			<p class="lead"><span>Jump to a topic:<span></p>
 			<div class="list-group">
 				<a href="#nyc-districts" class="list-group-item page-scroll">Numbers by geographic district</a>
 				<a href="#legislative-districts" class="list-group-item page-scroll">Numbers by electoral district</a>
 				<a href="#other-resrouces" class="list-group-item page-scroll">Other resources</a>
 				<hr>
 			</div>
 			<a href="/" id="back-link" class="list-group-item"><i class="fa fa-arrow-circle-left"></i> Back</a>
 		</div>
 		<div class="col-md-9">
 			<div class="row">
 				<div class="col-md-12">
 					<div id="nyc-districts">
 						<h2>Numbers by New York City geographic district</h2>
 						<h4>Select a district to reveal how much it is owed.</h4>
 						<div class="row school-districts">
 							<div class="col-xs-12">
 								<div class="accordion" id="school-districts-accordion">
 								</div>
 							</div>
 						</div>
 					</div>
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-md-12">
 					<div id="legislative-districts">
 						<h2>Numbers by New York State electoral district</h2>
 						<div class="row">
 							<div class="col-xs-12 electoral-districts">
 								<!-- <h4>by electoral district</h4> -->
 								<div id="electoral-district-info">
 								</div>
 								<div id="electoral-district-buttons">
 								</div>
 								<div class="info-text"><p class="district-caption">AD = New York State Assembly District; SD = New York State Senate District</p></div>
 							</div>
 						</div>
 					</div>
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-md-12">
 					<div id="other-resources">
 						<h2>Other resources</h2>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>

 <script type="text/javascript">
// AJAX call for district section information
$.ajax({
	dataType: 'json',
	url: '/school_districts',
	type: 'GET'
}).success(function(data) {
	var schoolDistrictInfo = $('#school-districts-accordion');
	createSchoolDistrictInformation(data, schoolDistrictInfo)
}).fail(function() {
	console.log("Failed to load school district information");
}); 

$.ajax({
	dataType:'json',
	url: 'http://openstates.org/api/v1//legislators/?state=ny&active=true&apikey=<%= ENV['SUNLIGHT_FOUNDATION_API_KEY'] %>',
	type: 'GET'
}).success(function(data){
	var legislators = data;
	// console.log(legislators.length)
	legSection = $("#districts-section .electoral-districts")
	var electoralDistrictButtons = $("#electoral-district-buttons");
	createElectoralDistrictButtons(data,electoralDistrictButtons)
	for (k in legislators) {
		console.log(legislators[k])
		var legChamber = legislators[k].chamber;
		var legDistrict = legislators[k].district;
		var legName = legislators[k].full_name;
		// legSection.append('<div class="'+legChamber+''+legDistrict+'"><p>'+legName+'</p></div>');

		var electoralDistrictInfo = $("#electoral-district-info");
		createElectedOfficialInformation(legislators[k], electoralDistrictInfo)
		
		findLegTotals(legChamber, legDistrict);
		return;
	}
}).fail(function() {
	console.log("Failed to load electoral district information");
})

</script>