<div class="container" id="why-page">
	<div class="row">
		<div id="sub-navigation" class="col-md-3">
			<p class="lead"><span>Jump to a topic:<span></p>
			<div class="list-group">
				<a href="#why-is-it-important" class="list-group-item page-scroll">Why it's important</a>
				<a href="#take-action" class="list-group-item page-scroll">Take action!</a>
				<hr>
			</div>
			<a href="/" id="back-link" class="list-group-item"><i class="fa fa-arrow-circle-left"></i> Back</a>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div id="why-is-it-important">
						<h2>Why is it important?</h2>
						<p>The Campaign for Fiscal Equity (CFE) lawsuit was brought against the state of New York by New York City parents claiming the state underfunded the city’s public schools and therefore denied its students their constitutional right to a “sound basic education.”  In a landmark 2007 decision, the state's highest court made explicit the state’s constitutional obligation to provide <a class="clickable" title="CFE funding was tied to effective classroom reform strategies through the Contract for Excellence which prioritized pre-kindergarten, class-size reduction, middle and high school reform, programs for English language learners, effective teaching, and more time on task (longer school days or school years, tutoring, etc.)" data-toggle="tooltip" data-placement="top"> essential resources</a> to all public school children and found that New York State is not providing the funding necessary to fulfill this constitutional obligation.</p>
						<p>For two years the state met its obligations, resulting in effective reforms in classrooms around the state. However, in 2009, as a result of the fiscal crisis, school aid was frozen.  Then, over the following two years, the state enacted over $2.7 billion in cuts, including over $2.1 billion in classroom cuts, in effect reversing CFE.</p>
						<p>The past few years have been incredibly difficult for our public schools.  Devastating cuts and inadequate state budgets have taken vital programs and services away from our students.  It is the state’s constitutional obligation to educate every student, and it's time that the State renews its commitment to the Campaign for Fiscal Equity before another generation of students graduates without having access to the resources they need to prepare them for college, careers, and life.</p>
						<br>
						<p class="source-text">source: <a href="http://www.aqeny.org/wp-content/uploads/2014/08/REPORT-NY-Billions-Behind.pdf" target="_blank">Billions Behind, New York State Continues to Violate Students’ Constitutional Rights</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="get-involved">
						<h2>Take action!</h2>
						<ol>
							<li>Contact your representatives in Albany and tell them why your school urgently needs full state funding now. <a href="/">Search your school</a> for your representatives' contact information.</li>
							<li>Share on Twitter how much your school is owed. <a href="https://twitter.com/home?status=Find%20out%20how%20much%20NYS%20owes%20your%20school%20at%20cfemoneyowednys.org" class="twitter-link" target="_blank">Send a tweet.</a></li>
							<li>Let your friends and family know that they can search for their own school. <a href="https://www.facebook.com/sharer/sharer.php?u=http://cfemoneyowednys.org" target="_blank" class="facebook-link">Share this tool on Facebook</li>
							<li><a href="">Read	the	full	report</a>	to	learn	more.</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>