<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 id="schoolModalLabel"><span class="modal-title"></span><span class="modal-title-dbn"></span><span class="modal-title-district"></span></h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-8">
			<div class="amount-owed-section">
				<div class="amount-text">amount owed</div>
				<div class="amount-number"></div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="enrollment-section">
				<div class="enrollment-text">enrollment</div>
				<div class="enrollment-number"></div>
			</div>
		</div>
	</div>
	<br>
	<hr>
	<br>
	<div class="row legislators-title">
		<div class="col-lg-12">
			<p>contact your legislators and ask them what they're doing to get money back for our schools.</p>
			<br>
		</div>
		<br>
	</div>
	<div class="row">
		<div class='legislators-section'>
			
		</div>
	</div>
	<br>
</div>
<div class="modal-footer">
	<div class="twitter-link">
	</div>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>