<div class="row">
	<div class="col-xs-12 text-center">
		<h1 class="schoolModalLabel"><span class="modal-title"></span><span class="modal-title-dbn"></span><span class="modal-title-district"></span></h1>
	</div>
</div>
<div class="row text-center">
	<div class="col-xs-6">
		<h2 class="amount-text">Total amount owed:<span class="amount-number"></span></h2>
	</div>
	<div class="col-xs-6">
		<h2 class="per-student-number">Per student: <span class="per-student-section"></span></h2>	
	</div>
</div>
<div class="row text-center">
	<div class="col-xs-12">
		<h3>Students at <span class="modal-title"></span> are missing out on:</h3>
		<div class="row">
			<div class="col-xs-6">
				<img src="http://placehold.it/200x100">
			</div>
			<div class="col-xs-6">
				<h4>#[RESOURCE]</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<img src="http://placehold.it/200x100">
			</div>
			<div class="col-xs-6">
				<h4>#[RESOURCE]</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<img src="http://placehold.it/200x100">
			</div>
			<div class="col-xs-6">
				<h4>#[RESOURCE]</h4>
			</div>
		</div>
	</div>
</div>
