<!-- Header -->
<section id="top" class="header">
	<div class="text-vertical-center">
		<h1 class="title">How much has your school been robbed?</h1>
		<h4 class="subtitle">New York State shortchanged the entire New York City public school system by billions of dollars.<br>Find out how much your school is owed.</h4>
		<br>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="input-group" >
					<input type="text" class="form-control" placeholder="search school name or dbn">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div>	
		<div class="row"><br><br></div>

<!-- Citywide stats -->
<!-- 		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="row">

					<div class="col-md-4 col-sm-4">
						<div class="counter">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-cloud fa-stack-1x text-primary"></i>
							</span>
							<h5 class="counter-text">
								<strong>Total amount that NYC is owed from the State (CFE lawsuit)</strong>
							</h5>
							<p>$2,500,000,000</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="counter">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-cloud fa-stack-1x text-primary"></i>
							</span>
							<h5 class="counter-text">
								<strong>Official school register as of 10/31/2013</strong>
							</h5>
							<p>1,032,314</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="counter">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-cloud fa-stack-1x text-primary"></i>
							</span>
							<h5 class="counter-text">
								<strong>Amount owed per student</strong>
							</h5>
							<p>$2421.74</p>
						</div>
					</div>

				</div>
			</div>
		</div> -->

	</div>
</header>