<div class="nav">
	<a href="#top" class="btn btn-xs btn-dark page-scroll">
		<i class="fa fa-chevron-up animated"></i>
	</a>
	<a href="#more" class="btn btn-xs btn-dark page-scroll">
		<i class="fa fa-chevron-down animated"></i>
	</a>
</div>
<!-- Search and title section -->
<header id="top" class="header">
	<div class="header-body">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<h1 class="title highlight-title">How much does NY State owe your school?</h1>
					<h4 class="subtitle highlight-title">New York State shortchanged the entire New York City public school system by billions of dollars.<br>Find out how much they robbed from your school.</h4>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<%= form_tag(search_path, method: "get") do %>
					<div class="input-group" >
						<%= text_field_tag("search_text", nil, placeholder: "search by school name or dbn", size: 250, class:'form-control') %>
					</div>
					<% end %>
					<div id="results"></div>
					<script type="text/javascript">
					$("#search_text").keyup(function(event) {
						$.get('/search?search='+ $(this).val());
					});
					</script>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- More Information Section -->
<section id="more" class="more-info content-section">
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="col-md-4">
					<div class="amount-owed-section">
						<h4 class="info-text">citywide amount NYS owes NYC</h4>
						<h3 class="info-number highlight-title">$2,500,000,000</h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="enrollment-section">
						<h4 class="info-text">official school register as of 10/31/2013</h4>
						<h3 class="info-number highlight-title">1,032,314</h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="amount-per-student-section">
						<h4 class="info-text">amount owed per student</h4>
						<h3 class="info-number highlight-title">$2421.74</h3>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<h4>by district</h4>
				<div id="district-info">
				</div>
				<div id="district-buttons">
				</div>
			</div>
		</div>
		<hr>		
		<div class="row">
			<div class= "col-md-12">
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container text-center">
		<a target="_blank" data-toggle="modal" data-target="#aboutModal" class="clickable">learn more</a> / <a href="mailto:farheen.m.malik@gmail.com?Subject=CFE%20Site%20Feedback" target="_top">give feedback</a> 

	</div>
</footer>

<!-- Modal -->
<div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="schoolModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="schoolModalLabel"></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-8">
						<div class="amount-owed-section">
							<div class="amount-text">amount owed</div>
							<div class="amount-number"></div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="enrollment-section">
							<div class="enrollment-text">total enrollment</div>
							<div class="enrollment-number"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p class="modal-title" id="aboutModalLabel"><br></p>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="subtitle-section">
							<h4><strong>How much does NY State owe your school? - A tool for school communities by <a href="http://farheenmalik.com" target="_blank">Farheen Malik</a></strong></h4>
							<p>This project provides information on CFE money owed to schools and districts in NYC. </p>
						</div>
						<div class="references-section">
							<p>Raw data was provided by <a href="http://schools.nyc.gov/default.htm" target="_blank">NYC Department of Education (NYC DOE)</a> and analyzed by the <a href="http://annenberginstitute.org/" target="_blank">Annenberg Institute for School Reform</a>.</p>
							
							<p><u>How amount per school was calculated:</u>
								<br>Total amount owed to NYC from CFE was divided by total number of students in the system, according to the NYC DOE.  This number was then multipled by enrollment in each school to get the amount owed per school.</p>

							<p>Two datasets were considered for school, district, and citywide enrollment figures: <a href="http://schools.nyc.gov/AboutUs/schools/data/stats/default.htm" target="_blank">NYC DOE Official Register as of 10/31/2013</a> and <a href="http://schools.nyc.gov/AboutUs/schools/data/default.htm" target="_blank">NYC DOE Demographics Snapshot 2013-2014</a>.  The overall official audited citywide student count from the first data source (1,032,314), does not match the total count across 
							all schools from the second data source (964,758). We relied on the official published citywide count based on the first data source to calculate the amount of money owed per student.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="code-link-section">
						Code on <a href="https://github.com/fma2/cfe-money" target="_blank">Github</a>
					</div>
			</div>
		</div>
	</div>
</div>
