<div class="nav">
	<a href="#top" class="btn btn-xs btn-dark page-scroll">
		<i class="fa fa-chevron-up animated"></i>
	</a>
	<a href="#more" class="btn btn-xs btn-dark page-scroll">
		<i class="fa fa-chevron-down animated"></i>
	</a>
</div>
<!-- Search and title section -->
<header id="top" class="header">
	<div class="header-body">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<h1 class="title highlight-title">How much does NY State owe your school?</h1>
					<h4 class="subtitle highlight-title">New York State shortchanged the entire New York City public school system by billions of dollars.<br>Find out how much they robbed from your school.</h4>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<%= form_tag(search_path, method: "get", onsubmit: "return false") do %>
					<div class="input-group" >
						<%= text_field_tag("search_text", nil, placeholder: "search a school by school name (e.g. School of Science) or district number (e.g. D03 or District 3)", size: 250, class:'form-control') %>
					</div>
					<% end %>
					<div id="results"></div>
					<script type="text/javascript">
					$("#search_text").keyup(function(event) {
						$.get('/search?search='+ $(this).val());
					});
					</script>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- More Information Section -->
<section id="more" class="more-info content-section">
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h1 class="description-title highlight-title">New York State continues to violate students' constitutional rights</h1>
				<div class="description-text">
					<p>The Campaign for Fiscal Equity (CFE) lawsuit was brought against the state of New York by New York City parents claiming the state underfunded the city’s public schools and therefore denied its students their constitutional right to a “sound basic education.”  In a landmark 2007 decision, the state's highest court made explicit the state’s constitutional obligation to provide <a class="clickable" title="CFE funding was tied to effective classroom reform strategies through the Contract for Excellence which prioritized pre-kindergarten, class-size reduction, middle and high school reform, programs for English language learners, effective teaching, and more time on task (longer school days or school years, tutoring, etc.)" data-toggle="tooltip" data-placement="top"> essential resources</a> to all public school children and found that New York State is not providing the funding necessary to fulfill this constitutional obligation.</p>
					<button class="btn btn-custom read-more clickable" data-toggle="collapse" href="#readMore" aria-expanded="false" aria-controls="collapseReadMore">
						continue reading
					</button>
					<div class="collapse" id="readMore">
						<p>For two years the state met its obligations, resulting in effective reforms in classrooms around the state. However, in 2009, as a result of the fiscal crisis, school aid was frozen.  Then, over the following two years, the state enacted over $2.7 billion in cuts, including over $2.1 billion in classroom cuts, in effect reversing CFE.</p>

						<p>The past few years have been incredibly difficult for our public schools.  Devastating cuts and inadequate state budgets have taken vital programs and services away from our students.  It is the state’s constitutional obligation to educate every student, and it's time that the State renews its commitment to the Campaign for Fiscal Equity before another generation of students graduates without having access to the resources they need to prepare them for college, careers, and life.  </p>
						<p class="source-text">source: <a href="http://www.aqeny.org/wp-content/uploads/2014/08/REPORT-NY-Billions-Behind.pdf" target="_blank" alt="aqe-report">Billions Behind, New York State Continues to Violate Students’ Constitutional Rights</a></p>
					</div>
					
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="col-md-4">
					<div class="amount-owed-section">
						<h4 class="info-text">citywide amount NYS owes NYC</h4>
						<h3 class="info-number highlight-title">$2,528,932,296</h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="enrollment-section">
						<h4 class="info-text">citywide enrollment</h4>
						<h3 class="info-number highlight-title">948,261</h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="amount-per-student-section">
						<h4 class="info-text">amount owed per student</h4>
						<h3 class="info-number highlight-title">$2,666.92</h3>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<h4>by district</h4>
				<div id="district-info">
				</div>
				<div id="district-buttons">
				</div>
			</div>
		</div>
		<hr>		
		<div class="row">
			<div class= "col-md-12">
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container text-center">
		<br>
		<div id="fb-root"></div>
		<a class="fb-share-button" data-href="http://www.howmuchnysrobbed.nyc/" data-layout="button"></a>
		
		<br>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.howmuchnysrobbed.nyc/" data-text="How much does NY State owe your school?" data-via="angryteachrlady" data-count="none" data-hashtags="allkidsneed,eduequity,wecantwait">tweet</a>
		<br><br>
		<a target="_blank" data-toggle="modal" data-target="#aboutModal" class="clickable">learn more</a> / <a href="mailto:farheen.m.malik@gmail.com?Subject=CFE%20Site%20Feedback" target="_top">give feedback</a>
	</div>
</footer>

<!-- School Modal -->
<div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="schoolModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 id="schoolModalLabel"><span class="modal-title"></span><span class="modal-title-dbn"></span><span class="modal-title-district"></span></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-8">
						<div class="amount-owed-section">
							<div class="amount-text">amount owed</div>
							<div class="amount-number"></div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="enrollment-section">
							<div class="enrollment-text">enrollment</div>
							<div class="enrollment-number"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="twitter-link">
				</div>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
		</div>
	</div>
</div>

<!-- Learn More Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p class="modal-title" id="aboutModalLabel"><br></p>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="subtitle-section">
							<h4><strong>How much does NY State owe your school? - A tool for school communities by <a href="http://farheenmalik.com" target="_blank">Farheen Malik</a></strong></h4>
							<p>This project provides information on CFE money owed to schools and districts in NYC. </p>
						</div>
						<div class="references-section">
							<p>Raw data was provided by <a href="http://schools.nyc.gov/default.htm" target="_blank">NYC Department of Education (NYC DOE)</a> and analyzed by the <a href="http://annenberginstitute.org/" target="_blank">Annenberg Institute for School Reform</a>.</p>
							
							<p><u>How amount per school was calculated:</u> Total amount owed to NYC from CFE was divided by total number of students in the system, according to the NYC DOE.  This number was then multipled by enrollment in each school to get the amount owed per school.</p>

							<p>Two datasets were considered for school, district, and citywide enrollment figures: <a href="http://schools.nyc.gov/AboutUs/schools/data/stats/default.htm" target="_blank">NYC DOE Official Register as of 10/31/2013</a> and <a href="http://schools.nyc.gov/AboutUs/schools/data/default.htm" target="_blank">NYC DOE Demographics Snapshot 2013-2014</a>.  The overall official audited citywide student count from the first data source (1,032,314), does not match the total count across all schools from the second data source (964,758). Annenberg relied on the official published citywide count based on the first data source to calculate the amount of money owed per student.</p>
							<p>Special thanks to <a href="http://www.aqeny.org/" alt="aqe-site" target="_blank">Alliance for Quality Education</a> and <a href="http://annenberginstitute.org/" alt="annenberg-site" target="_blank">Annenberg Institute for School Reform</a>!</p>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<div class="code-link-section"><p>Code on <a href="https://github.com/fma2/cfe-money" target="_blank">Github</a></p></div>
			</div>
		</div>
	</div>
</div>
