<!-- Header -->
<header id="top" class="header">
	<div class="text-vertical-center">
		<h1 class="title">How much has your school been robbed?</h1>
		<h4 class="subtitle">"New York State has shortchanged the entire public school system by billions of dollars, ignoring an agreement that followed a landmark court ruling in 2006, according to a lawsuit to be filed Tuesday by an education advocacy group" - <a href="http://www.nytimes.com/2014/02/11/nyregion/suit-will-seek-money-that-new-york-state-promised-to-schools-in-2007.html?_r=0"> NY Times</a></h4>
		<br>
		<a href="#about" class="btn btn-dark btn-lg">Find Out About Your School</a>
		<br>
	</div>
</header>

<!-- Results -->
<section id="about" class="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Stylish Portfolio is the perfect theme for your next project!</h2>
				<!-- <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->
				<!-- <ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="#">overall</a></li>
					<li role="presentation"><a href="#">by district</a></li>
					<li role="presentation"><a href="#">by schoool</a></li>
				</ul> -->
			</div>
			<div class="col-lg-6">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="search school name or dbn">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
				<br>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>