@import 'variables.css.scss';
@import 'base.css.scss';

/* School information section */

#school-information {
  .warning-text {
    visibility: visible;
  }
  .school-details{
    background-color: $palette-blue6;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    h1.schoolInfoLabel {
      font-size: 4rem;
      font-weight: 600;
      text-transform: uppercase;
      text-align: left;
      color: $palette-white; 
    }
    h2.amount-text, h2.per-student-number{
      color: $palette-blue1;
    }
    h2 {
      span.amount-number, span.per-student-amount {
        color: $palette-white;
      }
    }    
  }

  .resources-list {
    color: $palette-black;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    h3 {
      text-transform: uppercase;
    }
    .resource-item {
      display: flex;
      align-items:center;
      justify-content: center;
      .resource-image {
        text-align: left;
      }

      .resource-text {
        text-align: left;
        display:inline-block;
        vertical-align:middle;
      }
      .col-xs-6.resource-text {
        padding-top:20px;
      }
      
      img {
        max-width: 100%;
        right:0;
      }

    }
  }  
}

@media (max-width:767px) {
  .title-image {
    display:none;
  }
  #school-information {
    display: block;

    .school-details {
      padding:1.5rem 0;

      h1.schoolInfoLabel{
        font-size: 2rem;
      }
      h2 {
        font-size: 1.75rem;
      }
    }
    .resources-list {
      padding:0rem 0;

      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1.35rem;
      }
    }
  }
  
  #next-steps{
    padding-top: 1rem;
    h3 {
      font-size:1.5rem;
      margin-top:0.5rem;
      margin-bottom:0.5rem;
    }
  }

}

@media (min-width: 768px){
  #school-information {
    display:flex;
  }
}

.legislators-title {
  p {
    font-weight: 200;
    text-align:center;
  }
}


