@import 'variables.css.scss';
@import 'base.css.scss';

/* School information section */

#school-information {
  .warning-text {
    visibility: visible;
  }
  .school-details{
    background-color: $palette-blue6;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    h1.schoolInfoLabel {
      font-size: 4rem;
      font-weight: 600;
      text-transform: uppercase;
      text-align: left;
      color: $palette-white; 
    }
    h2.amount-text, h2.per-student-number{
      color: $palette-blue1;
    }
    h2 {
      span.amount-number, span.per-student-amount {
        color: $palette-white;
      }
    }    
  }

  .resources-list {
    color: $palette-black;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    h3 {
      text-transform: uppercase;
    }
    .resource-item {
      display: flex;
      align-items:center;
      justify-content: center;
      .resource-image {
        text-align: left;
      }

      .resource-text {
        text-align: left;
        display:inline-block;
        vertical-align:middle;
      }
      .col-xs-6.resource-text {
        padding-top:20px;
      }
      
      img {
        max-width: 100%;
        right:0;
      }

    }
  }  
}

@media (max-width:767px) {
  .title-image {
    display:none;
  }
  #school-information {
    display: block;

    .school-details {
      padding:1.5rem 0;

      h1.schoolInfoLabel{
        font-size: 2rem;
      }
      h2 {
        font-size: 1.75rem;
      }
    }
    .resources-list {
      padding:0rem 0;

      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1.35rem;
      }
    }
  }
  #take-action-section {
    h1.section-title{
      font-size: 2.25rem;
    }
    .action-item {
      padding-top:0 !important;
      padding-bottom:0 !important;
      h3 {
        font-size: 1.4rem;
        a {
          color:$palette-blue3;
        }
        a:hover {
          color: $palette-blue6;
        }
      }
    }
    .leg-lower, .leg-upper {
      padding-top:.5rem;
    }
    .leg-info {
      p {
        font-size: 1rem;
      }
      .btn {
        padding:.2rem;
        a {
          font-size: 1rem;
        }
      } 
    }
    #legislators-section {
      .img-responsive {
        max-width: 60%;
      }
    }
  }
  #next-steps{
    padding-top: 1rem;
    h3 {
      font-size:1.5rem;
      margin-top:0.5rem;
      margin-bottom:0.5rem;
    }
  }
  #cart {
    h1.section-title{
      font-size: 2.25rem;
      padding:0;

    }
    h3 {
      font-size: 1.5rem;
    }
    .cart-items {
      .thumb {
        padding:0;
        .img-responsive {
          max-width: 50%;
        }
        .caption h4 {
          margin:0;
          font-size:1rem;
        }
        .caption p {
          font-size: .75rem;
        }
      }
      
    }
    #purchased-items {
      h4 {
        font-size: 1.35rem;
      }
      p {
        font-size: 1.25rem;
      }

    }
    h4.amount-text, h4.amount-left-text {
      font-size: 1.65rem;
    }
  }
}

@media (min-width: 768px){
  #school-information {
    display:flex;
  }
}

.legislators-title {
  p {
    font-weight: 200;
    text-align:center;
  }
}


