// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Codystar:300);

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  height: 100%;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
}

/* Body background */
body::after {
  content: attr(data-bg);
  /*content: "My text"; if not using js*/
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #CCCCCC;
  overflow-y: hidden;
  text-align: justify;
  speak: none;
  font-family: 'Codystar', cursive;
  font-size: 20px;
  color:  #E6E6E6;

}

.text-vertical-center {
  display: table-cell;
  /*text-align: center;*/
  vertical-align: middle;
}

/* Custom Button Styles */

.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff;
  background-color: rgba(0,0,0,0.7);
}

.btn-light {
  border-radius: 0;
  color: #333;
  background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #333;
  background-color: rgba(255,255,255,0.8);
}

/* Header */

.header {
	color: #4C4C4C;
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header .title{
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
  /*font-family: 'Didact Gothic', sans-serif;*/
	/*width: 60%;*/
	/*margin-left: auto;
	margin-right: auto;*/
  /*text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;*/
  color: white;
}

.header .subtitle{
	/*margin-left:auto;
	margin-right: auto;*/
	/*width: 60%;*/
	font-size: 140%;
	/*font-family: 'Didact Gothic', sans-serif;*/
  color: white;
}

#search_text {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

#results {
}

/* Modal */
.modal-content{

}
.modal-title{
  font-size: 200%;
}


.amount-number{
  font-size: 350%;
}

.enrollment-number {
  font-size: 350%;
}

/* About */

.about {
  padding: 50px 0;
}

/* Circle Counter */

.counter {
  display: table-cell;
  margin:1.5%;
  font-size:20px;
  width:200px;
  border-radius: 50%;
  height:200px;
  vertical-align: middle;
}

.counter-text{
	height:30px;	
	font-size: 13px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.content-section {
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media(min-width:767px) {
  .content-section {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}