/* General */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar:300);

html,
body {
  width: 100%;
  height: 100%;
}
 
header, 
section, 
footer, 
h1, 
h2, 
h3,
h4, 
h5, 
h6,
p, 
.modal,
.nav {
	font-family: 'Source Sans Pro', sans-serif;
}

.clickable {
  cursor: pointer;
}

.highlight-title:hover{
  color:black;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
}

/* Navbar */

#background::after {
  content: attr(data-bg);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E6EBE6;
  overflow-y: hidden;
  text-align: justify;
  speak: none;
  font-family: 'Codystar', cursive;
  font-size: 0.5em;
  color:  #B8B8B8;
  height:25px;
}

.nav {
  position: fixed;
  z-index: 99999;
  width: 100%;
  text-align: right;

  .btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
  }
  .btn-dark:hover,
  .btn-dark:focus,
  .btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
  }
}

/* Header */
.header {
 	h1 {
		font-weight: 300;
		text-align:center;
  	font-size: 4em;
	}
	padding-top: 75px;
  display:table;
	color: #4C4C4C;
  position: relative;
  width: 100%;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  #subtitle-row {
  	text-align:center;
		color: #808080;
  	/*background-color: rgba(255, 255, 255, 0.5);*/
  	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;*/
  	/*background: linear-gradient(#E6EBE6, #FFF 20%);*/      	
  	h4.subtitle-text{
			font-size: 140%;
			font-weight:200;
		}
  }
}

/* Location Tabs */

#location-tabs-row {
	height: 100px;
}

.nav-tabs > li, .nav-pills > li {
  float:none !important;
  display:inline-block !important;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
  a {
    color:#003300;
  }
}
.nav-tabs, .nav-pills {
  text-align:center;
  position:relative;
  z-index:1;
}

.nav-tabs>li.active>a {
  color: #555;
  background-color:  #335C33 !important;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}


/* More Information Section */

.more-info {
  color: #808080;
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
  .description-text {
    a {
      color: #003300;
    }
    a:hover{
      color:  #335C33;
      text-decoration:none;
    }
    .btn-custom {
      width: 100%;
    }
    .source-text {
      text-align:right;
    }
  }
}

/* Footer */

footer {
  padding: 50px 0;
  a {
    color: #003300;
  }
  a:hover{
    color:  #335C33;
    text-decoration:none;
  }
  .btn-custom {
    font-size: 11px;
    background-color:#E6EBE6;

    i {
      vertical-align:middle;
    }
  }
  .btn-custom:hover,
  .btn-custom:focus,
  .btn-custom:active,
  .btn-custom.active {
    background-color: #FFF;    
    border-color: #c6bebe;
  }
}

footer p {
  margin: 0;
}

.twitter-share-button {width: 60px !important;}


/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .header {
    .h1{
      font-size: 0.75em;
    }
    .subtitle{
      font-size:1em;
    }
  }
}


