// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*text */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

html, body, header, section, h1, h2, h3,h4, h5, p, .modal {
	font-family: 'Source Sans Pro', sans-serif;
}

/* nav bar background */
#background::after {
  content: attr(data-bg);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E6EBE6;
  overflow-y: hidden;
  text-align: justify;
  speak: none;
  font-family: 'Codystar', cursive;
  font-size: 1.05em;
  color:  #B8B8B8;
  height:50px;
}


/* landing page header styling */
.header {
	h1 {
		font-weight: 300;
		text-align:center;
  	font-size: 4em;
	}
	padding-top: 75px;
  display:table;
	color: #4C4C4C;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  #subtitle-row {
  	text-align:center;
		color: #808080;
  	/*background-color: rgba(255, 255, 255, 0.5);*/
  	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;*/
  	/*background: linear-gradient(#E6EBE6, #FFF 20%);*/
  	
  	h4.subtitle-text{
			font-size: 140%;
			font-weight:200;
		}
  }
}

#location-tabs-row {
	height: 100px;

}

.nav-tabs > li, .nav-pills > li {
  float:none !important;
  display:inline-block !important;
  *display:inline; /* ie7 fix */
   zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs, .nav-pills {
  text-align:center;
  position:relative;
}

nav-tabs > li.action {
	background: transparent;
}

/* landing page header media queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .header {
    .h1{
      font-size: 0.75em;
    }
    .subtitle{
      font-size:1em;
    }
  }
}
