<div class="search-bar-and-results-section">
	<%= form_tag(search_path(location), method: "get", onsubmit: "return false", id: "schools_search1") do %>
	<div class="input-group" >
		<span id="searchclear1" class="glyphicon glyphicon-remove-circle"></span>
		<%= text_field_tag("search_text1", nil, placeholder: "Type a school name or district", size: 250, class:'form-control input-lg') %>

		<span class="input-group-btn">
			<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
		</span>
	</div>
	<% end %>
	<div id="results1"></div>
	
	<script type="text/javascript">
	$("#search_text1").keyup(function(event) {
		$(".visible-results").show();
		$(".action-items").hide();
		$.get('/search/<%= location %>?search='+ $(this).val());
		return false;
	});

	</script>
</div>

